<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kost.android.sensorsweblogger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kost.android.sensorsweblogger.MainActivity" />
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".TemplateSensor"
            android:enabled="false"
            android:exported="false" >
        </service>
        <service
            android:name=".SensorLight"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".SensorAmbientTemperature"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".SensorPressure"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".SensorRelativeHumidity"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
